<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"> </header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4>
					<a sec:authorize="hasRole('ROLE_USER')" th:href="@{/listarProcesos}"
						class="btn btn-success btn-xs">Volver al inicio</a>
				</h4>
				<div th:object="${proceso}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/guardarProceso}" th:object="${proceso}"
					method="post">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Usuario</label>
						<div class="col-sm-6">
							<select name="usuario" id="usuario" class="form-control">
								<!-- <option value=" "></option>  -->
								<option th:each="usuario: ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nombre} + ' ' + ${usuario.apellido}"></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Radicado</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{radicado}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('radicado')}" th:errors="*{radicado}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Demandante</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{demandante}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('demandante')}"
								th:errors="*{demandante}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Demandado</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{demandado}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('demandado')}"
								th:errors="*{demandado}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Fecha Reparto</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{fechaReparto}"
								class="form-control" id="datepicker" th:errorclass="'form-control alert-danger'"
								autocomplete="off" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('fechaReparto')}"
								th:errors="*{fechaReparto}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Última actuación</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{ultimaActuacion}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('ultimaActuacion')}"
								th:errors="*{ultimaActuacion}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Estado Actual</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{estadoActual}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('estadoActual')}"
								th:errors="*{estadoActual}"></small>
						</div>
					</div>
					<!-- <div class="form-group row">
						<label class="col-sm-2 col-form-label">Estado</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{estado}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></small>
						</div>
					</div> -->
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Tipo proceso</label>
						<div class="col-sm-6">
							<!-- <input type="text" th:field="*{tipoProceso}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></small>  -->
							<!-- <select th:field="*{tipoProceso}" >
								<option th:each="tipo: ${tipoProcesos}" th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
							</select>  -->
							<select class="form-control" th:field="*{tipoProceso}" >
								<option th:each="tipo: ${tipoProcesos}" th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
							</select>
						</div>
					</div>
					<!-- <div class="form-group row">
						<label class="col-sm-2 col-form-label">Juzgado</label>
						<div class="col-sm-6">
							<select class="form-control" th:field="*{juz}" >
								<option th:each="juzgado: ${juzgados}" th:value="${juzgado.id}" th:text="${juzgado.nombre}"></option>
							</select>
						</div>
					</div> -->
					<div class="form-group">
						<input type="submit" value="Guardar" class="btn btn-success" />
					</div>
					<!-- <input type="hidden" th:field="*{id}" />  -->
				</form>
			</div>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>