<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4>
					<a sec:authorize="hasRole('ROLE_USER')" th:href="@{/listarProcesos}"
						class="btn btn-success btn-xs">Volver al inicio</a>
				</h4>
				<form th:action="@{/agregarDiasCalendario}" method="POST">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" >Fecha</label>
						<input class="col-sm-3 form-control"  type="text" placeholder="Ingrese los dias"
						id="dias" name="dias" >
						<button type="submit" class="col-sm-1 btn btn-success">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>