<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="px-4 py-2">
		<div class="card bg-light" style="width: 82rem;">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_USER')"
						th:href="@{/listarProcesos}" class="btn btn-success btn-xs">Volver
						al inicio</a>
				</h4>
				<div th:if="${historial.isEmpty()}" class="alert alert-info my-4" th:text="'El usuario no tiene historial de registro aún'"></div>
				<table th:if="${!historial.isEmpty()}" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Tipo</th>
							<th>Fecha</th>
							<th>Descripción</th>
							<th>Especialidad</th>
							<!-- <th>Juzgado</th>  -->
						</tr>
					</thead>
					<tbody>
						<tr th:each="hist: ${historial}">
							<td th:text="${hist.tipo}"></td>
							<td th:text="${#dates.format(hist.fecha, 'dd-MM-yyyy')}"></td>
							<td th:text="${hist.descripcion}"></td>
							<td th:text="${hist.especialidad == null ? 'No registró' : hist.especialidad.nombre }"></td>
							<!-- <td th:text="${hist.usuario.juzgado == null ? 'No registró' : hist.usuario.juzgado.nombre}"></td>  -->
						</tr>
					</tbody>
				</table>
				<!-- <nav th:replace="paginator-nav"></nav>  -->
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>