<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light text-center">
			<div class="card-header"><h3>Administrar Usuario</h3></div>
			<div class="card-body">
				<a sec:authorize="hasRole('ROLE_USER')" th:href="@{/listarProcesos}"
						class="btn btn-success btn-xs">Volver al inicio</a>
				<a th:href="@{/salidaUsuario/} + ${usuario.id}" class="btn btn-warning">Salida Usuario</a>
				<a th:href="@{/entradaUsuario/} + ${usuario.id}" class="btn btn-primary">Entrada Usuario</a>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>