<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title" th:text="${titulo2}"></h5>
				<!-- <p class="card-text">With supporting text below as a natural
							lead-in to additional content.</p> -->
				<form th:action="@{/guardarEntradaUsuario/} + ${usuario.id}"
					method="post">
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Usuario</label>
						<div class="col-sm-8">
							<input th:value="${usuario.username}" disabled="disabled"
								class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Nombre</label>
						<div class="col-sm-8">
							<input th:value="${usuario.nombre}" disabled="disabled"
								class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Apellido</label>
						<div class="col-sm-8">
							<input th:value="${usuario.apellido}" disabled="disabled"
								class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Fecha ingreso</label>
						<div class="col-sm-8">
							<input name="fechaIngreso" id="fechaIngreso" class="form-control"
								autocomplete="off">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Juzgado</label>
						<div class="col-sm-8 ">
							<select name="idJuzgado" id="idJuzgado" class="form-control">
								<option th:each="juzgado : ${juzgados}" th:value="${juzgado.id}"
									th:text="${juzgado.nombre}"></option>
							</select>
						</div>
					</div>
					<input type="submit" value="Guardar" class="btn btn-success">
				</form>

			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>