<!DOCTYPE html>
<html xmlns:th="http://www.thymmeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card card-bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
			<h4 class="card-title">
				<a th:href="@{/juzgado/crear}" class="btn btn-success btn-xs">Crear
				Juzgado</a>
			</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th>Especialidad</th>
							<th>Ver Juzgados</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="especialidad : ${especialidades}">
							<td th:text="${especialidad.id}"></td>
							<td th:text="${especialidad.nombre}"></td>
							<td><a class="btn btn-primary btn-xs" th:href="@{/juzgado/listarJuzgados/} + ${especialidad.id}">Ver</a></td>
						</tr>
					</tbody>
				
				</table>
			</div>
		</div>
	</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>