<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	 <div class="container py-4">
	 	<div class="card bg-light">
	 		<div class="card-header" th:text="${titulo}"></div>
	 		<div class="card-body">
	 			<h4 class="card-title">
	 				<a th:href="@{/especialidad/crear}" class="btn btn-success btn-xs">Crear Especialidad</a>
	 			</h4>
	 			<table class="table table-striped table-bordered">
	 				<thead>
	 					<tr>
	 						<th>Id</th>
	 						<th>Nombre</th>
	 						<th>Editar</th>
	 						<th>Eliminar</th>
	 					</tr>
	 				</thead>
	 				<tbody>
	 					<tr th:each="especialidad: ${especialidades}">
	 						<td th:text="${especialidad.id}"></td>
	 						<td th:text="${especialidad.nombre}"></td>
	 						<td><a th:href="@{/especialidad/editar/} + ${especialidad.id}" class="btn btn-primary btn-xs">Editar</a></td>
	 						<td><a th:href="@{/especialidad/eliminar/} + ${especialidad.id}" class="btn btn-danger btn-xs">Eliminar</a></td>
	 					</tr>
	 				</tbody>
	 			</table>
	 		</div>
	 	</div>
	 </div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>